<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 扫描包 -->

	<!-- 整合mybatispeiz文件 -->
		<!-- 加载配置文件中 -->
	<context:property-placeholder location="classpath:server.propertites"/>
	<!-- 扫包 -->
	<context:component-scan base-package="com.taotao.controller"></context:component-scan>

	<!-- 注解驱动 -->
	<mvc:annotation-driven />

	<!-- 放行静态资源文件 -->
	<mvc:default-servlet-handler />

	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 引用dubbo服务 -->
	<dubbo:application name="taotao-manager-web" />
	<dubbo:registry protocol="zookeeper" address="192.168.85.128:2181" />
	<dubbo:reference interface="com.taotao.service.ItemService" id="itemService"/>
	<dubbo:reference interface="com.taotao.service.ItemCatService" id="itemCatService"/>
	<dubbo:reference interface="com.taotao.service.ContentCategoryService" id="contentCategoryServiceImpl"/>
	<dubbo:reference interface="com.taotao.service.ContentService" id="contentService"/>

	<!--  配置多媒体解析器-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!--设置默认的编码 -->
			<property name="defaultEncoding" value="utf-8"></property>
			<!-- 设定文件上传的大小 -->
			<property name="maxUploadSize" value="1024000000"></property>
			
	</bean>

</beans>

